body {
    --h1-color: #FF5347;
    --h2-color: #FF9D4F;
    --h3-color: #F5F263;
    --h4-color: #81D152;
    --h5-color: #42ADC7;
    --h6-color: #5B4D87;
}

/* aba explorer */

.nav-file-title.is-active {
    background-color: #2B373F;
    }
.nav-file:hover{
	background-color: #2B373F; /* ok*/
}

/* personalização tema escuro */

.theme-dark {
	--background-primary: #101518;
	--background-secondary: #1B2328;
	--tab-background-active: #2B373F;
	--titlebar-background: #1B2328;
	--titlebar-background-focused: #1B2328;
}

gbody {
	--radius-s: 0px;
	--radius-m: 0px;
	--radius-l: 0px;
	--input-radius: 0px;
	--tab-radius-active: 0px;
	--checkbox-radius: 0px;
	--toggle-radius: 0px;
	--toggle-thumb-radius: 0px;
	--slider-thumb-radius: 0px;
}

.workspace-tab-header.is-active::before, .workspace-tab-header.is-active::after {
	display: none;
}

svg * {
	stroke-linecap: square;
	stroke-linejoin: miter;
	rx: 0;
	ry: 0;
}

.menu {
	padding: var(--size-2-1);
}

.menu-item {
	padding: var(--size-4-1) var(--size-4-2);
}

.menu-separator {
	margin: var(--size-2-1) calc(var(--size-2-1) * -1);
}
